@switch (typeOfButton()) {
@case('mat-button') {
<button type="button" mat-button (click)="onClick()">
  @if (legend()) {
  {{ legend() }}
  }
</button>
}
@case('mat-raised-button') {
<button class="raised" type="button" mat-raised-button (click)="onClick()">
  @if (legend()) {
  {{ legend() }}
  }
</button>
}
@case('mat-stroked-button') {
<button class="stroked" type="button" mat-stroked-button (click)="onClick()">
  @if (legend()) {
  {{ legend() }}
  }
</button>
}
@case('mat-icon-button') {
<button type="button" mat-icon-button (click)="onClick()">
  <ui-icon [icon]="icon()" [size]="iconSize()" [mode]="mode()" />
</button>
}
}