.mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
}

a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
}